.page13
    width: 100%
    height: 100%
    position: relative
    .page13-circle-top-container
        width: 100%
        height: 45%
        top: 0
        position: absolute
        .page13-circle-top
            width: 104%;
            height: 140%;
            top: -50%;
            left: -70%;
            transform: rotate(220deg);
            -webkit-transform: rotate(220deg);
            -moz-transform: rotate(220deg);
            -o-transform: rotate(220deg);
            -ms-transform: rotate(220deg);
            position: absolute
        .page13-circle-top-in
            transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -webkit-animation:page13-circle-top-in-go 0.5s;
        .page13-service-item
            width: 66%
            height: 20%
            overflow: hidden
            position: absolute
            .page13-line-top
                left: -8%;
                top: 30%;
                width: 15%;
                position: absolute
            .page13-line-top-in
                left: 8%;
                -webkit-animation:page13-line-top-in-go 0.5s;
            .page13-service-top
                left: 15%;
                opacity: 0
                width:54%
                height: 100%
                position: absolute
            .page13-service-top-in
                opacity: 1
                left: 35%;
                -webkit-animation:page13-service-top-in-go 0.5s;
        .page13-service-top-item1
            left: 34%;
            top: 5%;
            position: absolute
        .page13-service-top-item2
            left: 32%;
            top: 30%;
            position: absolute
        .page13-service-top-item3
            left: 25%;
            top: 55%;
            position: absolute
        .page13-service-top-item4
            left: 8%;
            top: 80%;
            position: absolute
    .page13-circle-top-container-out
        left: -100%
        -webkit-animation:page13-circle-top-container-out-go 1s;
    .page13-title-container
        width: 100%
        height: 10%
        top: 45%
        display: flex;
        justify-content:center;
        align-items:Center;
        position: absolute
        .page13-title
            width: 68%
            left: 16%
            opacity: 0
        .page13-title-in
            opacity: 1
            -webkit-animation:page13-title-in-go 1s;
        .page13-title-out
            opacity: 0
            -webkit-animation:page13-title-out-go 1s;
    .page13-circle-bottom-container
        width: 100%
        height: 45%
        bottom: 0
        position: absolute
        .page13-circle-bottom
            width: 104%;
            height: 140%;
            bottom: -44%;
            right: -70%;
            transform: rotate(220deg);
            -webkit-transform: rotate(220deg);
            -moz-transform: rotate(220deg);
            -o-transform: rotate(220deg);
            -ms-transform: rotate(220deg);
            position: absolute
        .page13-circle-bottom-in
            transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -webkit-animation:page13-circle-bottom-in-go 0.5s;
        .page13-service-item
            width: 66%
            height: 20%
            overflow: hidden
            position: absolute
            .page13-line-bottom
                right: 0%;
                top: 30%;
                width: 15%;
                position: absolute
            .page13-line-bottom-in
                right: 10%;
                -webkit-animation:page13-line-bottom-in-go 0.5s;
            .page13-service-bottom
                right: 15%;
                opacity: 0
                width:54%
                height: 100%
                position: absolute
            .page13-service-bottom-in
                right: 35%;
                opacity: 1
                -webkit-animation:page13-service-bottom-in-go 0.5s;
        .page13-service-bottom-item1
            right: 4%;
            top: 0
            position: absolute
        .page13-service-bottom-item2
            top: 25%;
            right: 25%;
            position: absolute
        .page13-service-bottom-item3
            top: 50%;
            right: 32%;
            position: absolute
        .page13-service-bottom-item4
            top: 75%;
            right: 35%;
            position: absolute
    .page13-circle-bottom-container-out
        right: -100%
        -webkit-animation:page13-circle-bottom-container-out-go 1s;
@-webkit-keyframes page13-circle-top-container-out-go{
    0%{
        left: 0%
    }
    100%{
        left: -100%
    }
} 
@-webkit-keyframes page13-circle-bottom-container-out-go{
    0%{
        right: 0%
    }
    100%{
        right: -100%
    }
} 

@-webkit-keyframes page13-line-bottom-in-go{
    0%{
        right: 0%;
    }
    100%{
        right: 10%;
    }
} 
@-webkit-keyframes page13-service-bottom-in-go{
    0%{
        right: 15%;
        opacity: 0
    }
    100%{
        right: 35%;
        opacity: 1
    }
} 
@-webkit-keyframes page13-title-in-go{
    0%{
        opacity: 0
    }
    100%{
        opacity: 1
    }
}  
@-webkit-keyframes page13-title-out-go{
    0%{
        opacity: 1
    }
    100%{
        opacity: 0
    }
} 
@-webkit-keyframes page13-line-top-in-go{
    0%{
        left: -8%;
    }
    100%{
        left: 8%;
    }
}
@-webkit-keyframes page13-service-top-in-go{
    0%{
        left: 15%;
        opacity: 0
    }
    100%{
        left: 35%;
        opacity: 1
    }
}
@-webkit-keyframes page13-circle-top-in-go{
    0%{
        transform: rotate(220deg);
        -webkit-transform: rotate(220deg);
        -moz-transform: rotate(220deg);
        -o-transform: rotate(220deg);
        -ms-transform: rotate(220deg);
    }
    100%{
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
    }
}
@-webkit-keyframes page13-circle-bottom-in-go{
    0%{
        transform: rotate(220deg);
        -webkit-transform: rotate(220deg);
        -moz-transform: rotate(220deg);
        -o-transform: rotate(220deg);
        -ms-transform: rotate(220deg);
    }
    100%{
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
    }
}
