.page3
    width: 100%;
    height: 100%;
    position: relative;
    .page3-background
        width: 100%
        height: 100%
        position: absolute
    .page3-left-hand-container
        width: 100%
        height: 100%
        position: absolute
        .page3-left-hand
            z-index: 2
            width: 90%;
            height: 95%;
            top: 5%;
            left: -6%;
            position: absolute
        .page3-order-container
            z-index: 6
            top: 15.5%;
            left: 23%;
            width: 54.5%;
            height: 62%;
            overflow: hidden;
            position: absolute
            .page3-order
                width: 100%;
                left: 0;
                top: 0;
                height: 134%;
                overflow: hidden;
                position: absolute
                .page3-cardid
                    width: 56%;
                    left: 24%;
                    top: 11.2%;
                    z-index: 12;
                    position: absolute
                .page3-name
                    width: 12%;
                    left: 24%;
                    top: 16.2%;
                    z-index: 12;
                    position: absolute
                .page3-phone-number
                    width: 36%;
                    left: 24%;
                    top: 21.2%;
                    z-index: 12;
                    position: absolute
                .page3-select-case1
                    width: 36%;
                    height: 15%;
                    left: 6%;
                    top: 44.5%;
                    z-index: 12;
                    position: absolute
                .page3-select-case2
                    width: 36%;
                    height: 15%;
                    left: 6%;
                    top: 44.5%;
                    z-index: 13;
                    position: absolute
                .page3-year
                    width: 12%;
                    left: 24%;
                    top: 26.2%;
                    z-index: 12;
                    position: absolute
                .page3-time-space
                    width: 56%;
                    left: 26%;
                    top: 68%;
                    z-index: 12;
                    position: absolute
                .page3-msg
                    width: 90%;
                    left: 4%;
                    top: 83%;
                    z-index: 12;
                    position: absolute
            .page3-order2
                top: -34%;
                -webkit-animation:order-top-go 1s;
        .page3-pointer
            z-index: 7
            width: 20%
            top: 26%
            right: 6%
            position: absolute
        .page3-button-black
            position: absolute
        .page3-cover
            z-index: 5
            top: 15.5%;
            left: 22.8%;
            width: 54.5%;
            height: 62%;
            position: absolute
        .page3-phone-background
            z-index: 3
            top: 15%
            left: 22%
            width: 56%
            height: 63%
            position: absolute
        .page3-phone-menu
            z-index: 4
            top: 15.5%;
            left: 22.8%
            width: 54.5%;
            height: 62%;
            position: absolute
        .page3-top-col
            top: 15.5%;
            left: 22.8%;
            width: 54.5%;
            height: 7%;
            z-index: 20
            position: absolute
    .page3-left-hand-container2
        transform: rotate(340deg);
        -webkit-transform: rotate(340deg);
        -moz-transform: rotate(340deg);
        -o-transform: rotate(340deg);
        -ms-transform: rotate(340deg);
        left: -110%;
        bottom: -20%;
        -webkit-animation:left-hand-container2-go 1s;
    .page3-right-hand
        z-index: 14
        top: 44%
        left:35%
        width: 92%
        height: 80%
        position: absolute
    .page3-right-hand1
        -webkit-animation:right-hand1-go 1s;
    .page3-right-hand2
        z-index: 14
        top: 50%;
        left: 40%;
        width: 92%
        height: 80%
        position: absolute
    .page3-right-hand2-2
        -webkit-animation:right-hand2-2-go 1s;
    .page3-right-hand3
        -webkit-animation:right-hand3-go 1s;
    .page3-right-hand4
        top: 60%;
        left: 50%;
        -webkit-animation:right-hand4-go 1s;
    .page3-right-hand5
        top: 26%;
        -webkit-animation:right-hand5-go 1s;
    .page3-right-hand6
        top: 70%;
        -webkit-animation:right-hand6-go 1s;
    .page3-right-hand7
        -webkit-animation:right-hand7-go 1s;
    .page3-right-hand8
        left: 100%;
        -webkit-animation:right-hand8-go 1s;
    .page3-title
        width: 64%
        left: 18%
        bottom: 3%
        z-index: 22
        position: absolute
    .page3-title2
        bottom: -10%
        -webkit-animation:page3-title2-go 1s;
@-webkit-keyframes page3-title2-go {
    0%{
        bottom: 3%
    }
    100%{
        bottom: -10%
    }
}
@-webkit-keyframes left-hand-container2-go {
    0%{
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        left: 0%;
        bottom: 0%;
    }
    100%{
        transform: rotate(340deg);
        -webkit-transform: rotate(340deg);
        -moz-transform: rotate(340deg);
        -o-transform: rotate(340deg);
        -ms-transform: rotate(340deg);
        left: -110%;
        bottom: -20%;
    }
}
@-webkit-keyframes order-top-go {
    0%{
        top: 0%;
    }
    100%{
        top: -34%;
    }
}
@-webkit-keyframes right-hand1-go {
    0%{
        top: 100%
        left:100%
    }
    100%{
        top: 44%
        left:35%
    }
}
@-webkit-keyframes right-hand2-2-go {
    0%{
        top: 100%
        left:100%
    }
    100%{
        top: 50%
        left:40%
    }
}
@-webkit-keyframes right-hand3-go {
    0%{
        left: 40%;
    }
    50%{
        left: 38%;
    }
    100%{
        left: 40%;
    }
}
@-webkit-keyframes right-hand4-go {
    0%{
        top: 50%;
        left: 40%;
    }
    100%{
        top: 60%;
        left: 50%;
    }
}
@-webkit-keyframes right-hand5-go {
    0%{
        top: 60%;
    }
    100%{
        top: 26%;
    }
}
@-webkit-keyframes right-hand6-go {
    0%{
        top: 26%;
    }
    100%{
        top: 70%;
    }
}
@-webkit-keyframes right-hand7-go {
    0%{
        left: 50%;
    }
    50%{
        left: 48%
    }
    100%{
        left: 50%;
    }
}
@-webkit-keyframes right-hand8-go {
    0%{
        left: 50%;
    }
    100%{
        left: 100%;
    }
}